#titulo{
    font-family: "Satisfy", cursive;
    font-size: 3em;
}

#burgers{
    font-size: x-large;
}

#tacos{
    font-size: x-large;
}

#salads{
    font-size: x-large;
}

#desserts{
    font-size: x-large;
}

#drinks{
    font-size: x-large;
}

#carta {
    min-height: 625px;
}

#precio {
    position: absolute;
    bottom: 75px;
}

#navigation {
    height: 100px;
}

#botonSumar{
    width: 40px;
}

#botonRestar{
    width: 40px;
}